# Bağımlılıklar (Node Packages)
server/node_modules/
# İleride client eklendiğinde kullanmak için;
# client/node_modules/

# Ortam Değişkenleri
server/.env
server/.env.local
server/.env.development
server/.env.test
server/.env.production
# İleride client eklendiğinde kullanmak için;
# client/.env

# Yüklenen Dosyalar
# server içerisindeki uploads klasörünün içindeki her şeyi yoksay (ancak .gitkeep dosyasını izlemeye devam et)
server/uploads/*
!server/uploads/.gitkeep

# Proje Build ve Hata Çıktıları
server/logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# İleride client (React/Vue/Next vs) eklendiğinde kullanmak için;
# client/build/
# client/dist/
# client/.next/

# İşletim sistemi kalıntıları
.DS_Store
Thumbs.db
